body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
	display: flex;
	margin-left: 20px;
	width: 1200px;
	padding-left: 30px;

}

.block {
	width: 400px;
	height: 180px;
	border-bottom: 1px solid silver;
	position: relative;
}
.title {
	position: relative;
	top: 10px;
}

.socialMedia {
	width: 99px;
	position: absolute;
	top: 0px;
	right: 70px;
}

.price {
	font-weight: 750px;
	font-size: 70px;
	color: black;
}

.right {
	display: inline-block;
}

.rouble {
	margin-left: 5px;
	font-weight: 650px;
	font-size: 25px;
	color: black;
}

.monthPrice {
	font-size: 18px;
	font-weight: 500px;
	text-transform: lowercase;
}

.icons {
	width: 35px;
	margin: -3px;
}

.socialIcons {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
}

.traffik {
	position: relative;
	top: 7px;
}

.minutes {
	font-weight: 540;
	font-size: 24px;
}

.minutesTraffik {
	font-weight: lighter;
	font-size: 20px;
}
.unlim {
	position: relative;
	bottom: 20px;
}

.message {
	font-weight: 650;
	font-size: 24px;
}

.messageName {
	font-weight: lighter;
	font-size: 20px
}

.tarifs {
	font-weight: 700;
	font-size: 32px;
	height: 60px;
	margin-left: 30px;
	margin-top: 50px;
	border-bottom: 1px solid silver;
}

.money {
	font-weight: 450;
}